/*
██████╗ ██████╗  ██████╗      ██╗███████╗ ██████╗████████╗███████╗
██╔══██╗██╔══██╗██╔═══██╗     ██║██╔════╝██╔════╝╚══██╔══╝██╔════╝
██████╔╝██████╔╝██║   ██║     ██║█████╗  ██║        ██║   ███████╗
██╔═══╝ ██╔══██╗██║   ██║██   ██║██╔══╝  ██║        ██║   ╚════██║
██║     ██║  ██║╚██████╔╝╚█████╔╝███████╗╚██████╗   ██║   ███████║
╚═╝     ╚═╝  ╚═╝ ╚═════╝  ╚════╝ ╚══════╝ ╚═════╝   ╚═╝   ╚══════╝
                                       by chrisvogt.me | @c1v0  */

/**
 * Structure
 */
html, body {
  min-height: 100%;
}

body {
  padding: 50px 0 0 0;
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}

/**
 * Typography
 */
body {
  font-family: 'Droid Sans', sans-serif;
}
a {
  color: #cecece;
  text-decoration: none;
}
a:hover {
  color: #fefefe;
  text-decoration: none;
}
.social-links a:hover {
  color: #5E4F84;
}
h1 {
  text-align: center;
  color:#fff;
  font: 10em/1 "Droid Sans";
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
}
h1, h2, h3, h4, h5 {
  font-family: 'Droid Sans', sans-serif;
}
@font-face {
  font-family: 'fontello';
  src: url('font/fontello.eot?16916414');
  src: url('font/fontello.eot?16916414#iefix') format('embedded-opentype'),
       url('font/fontello.woff?16916414') format('woff'),
       url('font/fontello.ttf?16916414') format('truetype'),
       url('font/fontello.svg?16916414#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
.sb-icon
{
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* You can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/**
 * Masthead
 */
.page-header {
  margin: 0 auto;
  background: url('https://cdn.rawgit.com/chrisvogt/chrisvogt.github.io/develop/img/bg-delaunay.png') top center #6F5387;
  background-size: cover;
  min-height: 15%;
}
.navbar-toggle {
  float: left;
  margin-left: 15px;
}
.social .social-links {
  margin: 0;
  font-size: 1.4em;
  text-align: right;
}

/**
 * Off Canvas
 */
.navmenu-fixed-left .social-links {
  position: absolute;
  bottom: 24px;
  width: 100%;
}
.social-links {
  margin: 0;
  padding: 0;
  list-style: none;
}
.social-links li {
  display: inline-block;
}

/**
 * Cards
 */
.src-image {
  display: none;
}
.features .row {
  margin-bottom: 24px;
}
.features .col-sm-4 {
  margin-bottom: 18px;
}
.features .card {
  min-height: 196px;
}
.social {
  text-align: center;
  height: 38px;

  padding: 0;
  margin-bottom: 24px;
  border-bottom: 1px solid #cecece;
  border-top: 1px solid white;

  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.social .social-links {
  font-size: 1.4em;
  line-height: 38px;
}
.offcanvas .social-links {
  text-align: center;
}
.card {
  overflow: hidden;
  position: relative;
  text-align: center;
  padding: 0;
  background-color: #fefefe;
  color: rgb(136, 172, 217);

  border-top-color: #dedede;
  border-left-color: #dedede;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 1px 1px #cecece;
}
.card .header-bg {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #cecece;
  z-index: 1;
  background: url(http://subtlepatterns.com/patterns/paisley.png) #fefefe;
}
ul.tech {
  margin: 4px 0;
  padding: 0;
  width: 100%;
}
ul.tech li {
  list-style: none;
  display: inline-block;
  text-indent: -9999px;
  height: 32px;
  background: url('../img/sprite-tech.png') no-repeat;
}
ul.tech .php {
  width: 44px;
}
ul.tech .ruby {
  width: 32px;
  background-position: -44px 0;
}
ul.tech .cakephp {
  width: 32px;
  background-position: -76px 0;
}
ul.tech .jekyll {
  width: 66px;
  background-position: -108px 0;
}
ul.tech .jquery {
  width: 82px;
  background-position: -174px 0;
}
ul.tech .chrome {
  width: 32px;
  background-position: -256px 0;
}
ul.tech .html5 {
  width: 24px;
  background-position: -288px 0;
}
ul.tech .polymer {
  width: 32px;
  background-position: -312px 0;
}

/**
 * Footer
 */
footer {
  height: 124px;
  background: url(https://cdn.rawgit.com/chrisvogt/chrisvogt.github.io/develop/img/bg-delaunay.png) no-repeat center center #544c7a;
  padding: 8px 24px;
  color: #cecece;
}
footer a:hover {
  color: #efefef;
}


/**
 * Media Queries
 */
@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}
@media (min-width: 992px) {
  body {
    padding: 0;
  }
  #title {
    margin-top: .25em;
  }
  .navbar {
    right: auto;
    background: none;
    border: none;
  }
  .page-header {
    padding-bottom: 2%;
  }
}

/**
 * Hover.css
 */

/* Grow Shadow */
.hvr-grow-shadow {
 display: inline-block;
 vertical-align: middle;
 -webkit-transform: translateZ(0);
 transform: translateZ(0);
 box-shadow: 0 0 1px rgba(0, 0, 0, 0);
 -webkit-backface-visibility: hidden;
 backface-visibility: hidden;
 -moz-osx-font-smoothing: grayscale;
 -webkit-transition-duration: 0.3s;
 transition-duration: 0.3s;
 -webkit-transition-property: box-shadow, transform;
 transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
 box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
 -webkit-transform: scale(1.1);
 transform: scale(1.1);
}
/* Shrink */
.hvr-shrink {
 -webkit-transform: translateZ(0);
 transform: translateZ(0);
 box-shadow: 0 0 1px rgba(0, 0, 0, 0);
 -webkit-backface-visibility: hidden;
 backface-visibility: hidden;
 -moz-osx-font-smoothing: grayscale;
 -webkit-transition-duration: 0.3s;
 transition-duration: 0.3s;
 -webkit-transition-property: transform;
 transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
 -webkit-transform: scale(0.9);
 transform: scale(0.9);
}
/* Grow Rotate */
.hvr-grow-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow-rotate:hover, .hvr-grow-rotate:focus, .hvr-grow-rotate:active {
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
}
