---
layout: default
title: sandbox
---
<div class="container features">
  <div class="row">
    <div class="col-md-12">
      <h2>What I'm working on</h2>
      <p class="lead">A directory of projects I maintain, created, or have made significant contributions to.</p>
      <p><em>Showing {{ site.data.projects | size }} projects.</em></p>
    </div>
  </div>

  <div class="row">
  {% for project in site.data.projects %}
    {% include feature.html %}
  {% endfor %}
  </div>
</div><!-- /.features -->
