---
layout: default
title: sandbox
---

<div class="container features">
  <div class="row">
    <p>A directory of public projects I have created or contribute to frequently.</p>
  </div>

  {% for project in site.data.projects %}
    {% capture marker %}{{ forloop.index | modulo:3 }}{% endcapture %}

    {% if marker == '0' or forloop.first %}
    <div class="row">
    {% endif %}
      {% include feature.html %}
    {% if marker == '0' or forloop.last %}
    </div><!-- /.row -->
    {% endif %}
  {% endfor %}
</div><!-- /.features -->
</div>
