  <footer>
    <div class="container">
      <p>Made by <a href="https://twitter.com/c1v0" title="Chris Vogt on Twitter">@C1V0</a>.</p>
    </div>
  </footer>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="components/jasny-bootstrap/dist/js/jasny-bootstrap.min.js"></script>
  <script src="components/fittext/fittext.js"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>

  <script type="text/javascript">
    fitText(document.getElementById('title'), .65);
  </script>
</body>
</html>
