  <div class="navmenu navmenu-default navmenu-fixed-left offcanvas">
    <a class="navmenu-brand hvr-shrink" href="{{ site.data.navigation[0].href }}"><img src="{{ site.logo }}" class="img img-responsive center-block" width="120" alt="logo"></a>
        {% if site.data.navigation %}
          {% include navigation.html %}
        {% endif %}
        {% if site.data.social %}
         {% include social.html %}
        {% endif %}
  </div>
  <div class="navbar navbar-default navbar-fixed-top">
    <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
