<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!--
      brought to you by...
 ██████╗ ██╗██╗   ██╗ ██████╗
██╔════╝███║██║   ██║██╔═████╗
██║     ╚██║██║   ██║██║██╔██║
██║      ██║╚██╗ ██╔╝████╔╝██║
╚██████╗ ██║ ╚████╔╝ ╚██████╔╝
 ╚═════╝ ╚═╝  ╚═══╝   ╚═════╝
     chrisvogt.me | @c1v0
   -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ site.title }} by {{ site.author }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.author }}">
  <meta name="theme-color" content="#7A558D">

  <meta name="og:title" content="{{ site.title }}">
  <meta name="og:description" content="{{ site.description }}">
  <meta name="og:image" content="{{ site.banner }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@{{ site.twitter }}">
  <meta name="twitter:creator" content="@{{ site.twitter }}">
  <meta name="twitter:title" content="{{ site.title }}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:image" content="{{ site.banner }}">

  <link rel="shortcut icon" href="https://cdn.rawgit.com/chrisvogt/chrisvogt.me/develop/img/favicon.ico">
  <link rel="apple-touch-icon" href="https://cdn.rawgit.com/chrisvogt/chrisvogt.me/develop/img/favicon-57.png">
  <link rel="apple-touch-icon" sizes="76x76" href="https://cdn.rawgit.com/chrisvogt/chrisvogt.me/develop/img/favicon-76.png">
  <link rel="apple-touch-icon" sizes="120x120" href="https://cdn.rawgit.com/chrisvogt/chrisvogt.me/develop/img/favicon-120.png">
  <link rel="apple-touch-icon" sizes="152x152" href="https://cdn.rawgit.com/chrisvogt/chrisvogt.me/develop/img/favicon-152.png">

  <link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="/components/jasny-bootstrap/dist/css/jasny-bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="/css/projects.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Droid+Sans:300,400,700,400italic' rel='stylesheet'>
  <link href="/components/octicons/octicons/octicons.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>
